extends layout

block content
  h1= AnAVIS
  link(rel="stylesheet", href="/stylesheets/index.css")
  p Welcome to AnAVIS
  p Questa è la pagina di index
  img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/Avis_logo.svg/1280px-Avis_logo.svg.png", alt="")
  p
  a(href = "/about") ABOUT 
  |&nbsp;
  |&nbsp; 
  |&nbsp; 
  |&nbsp; 
  |&nbsp; 
  |&nbsp; 
  |&nbsp; 
  |&nbsp; 
  |&nbsp;
  a(href = "/testAPI") TEST API
  
